.Display {
    position: absolute;
    display: grid;
    margin-left: 40px
}

.Timer {
    position: relative;
    height: 5vh;
    display: grid;
    width: 25vw;
    background-color: #5e5e5e;
}
.Buttons {
    margin-right: 20px;
    position: relative;
    width: 100%;
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-family:monospace;
    font-size: 50%;
    background-attachment: fixed;
}