.App {
  text-align: center;
}
.App-door {
  background-color: blue;
  min-height: 100vh;
  max-width: 70%;
  background-repeat: no-repeat !important;
  margin: 0px; padding: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
  background-attachment: fixed;
}
.App-panel {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100vh;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
  background-attachment: fixed;
}